{% block title %} IITKGP Library Information System {% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock %}
{% block body %}
<div class="container">
    <br>
    <h1 class="text-center"><u>Clerk Login</u></h1><br>
    <p><b>Note:</b> Only Clerks can login from here. No other student or faculty will be allowed to login.</p>
    <form method="POST"> {% csrf_token %}

        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Username</i></label>
                <input type="text" class="form-control mt-2" name="username" placeholder="Enter Username" required>
            </div>
        </div>

        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Password</i></label>
                <input type="password" class="form-control mt-2" name="password" placeholder="Enter Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4">Login</button>
</div>
{% endblock %}
{% block js %}
{% if alert %}
<div class="row mt-4">
    <div class="form-group col-md-12">
        <div class="alert alert-danger" role="alert">
            Invalid Username or Password
        </div>
    </div>
</div>
{% endif %}
{% endblock %}